<ion-header>
  <ion-toolbar>
    <ion-title id="centralizar">Matéria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    
    <div id="espacamento">    
      <ion-item id="bordas">
        <ion-label position="stacked">Nome</ion-label>
        <ion-textarea id="interno" [(ngModel)]="newMateria.nome"></ion-textarea>
      </ion-item>
      <ion-item id="bordas">
        <ion-label position="stacked">Instituição</ion-label>
        <ion-textarea id="interno" [(ngModel)]="newMateria.instituicao"></ion-textarea>
      </ion-item>
      <ion-item id="cargaHoraria">
        <ion-label id="subir" position="stacked">Carga Horaria</ion-label>
        <ion-input type="number" [(ngModel)]="newMateria.cargaHoraria"></ion-input>
      </ion-item>
     </div>
  
    <div id="centralizar">
      <ion-button id="tamanho" size="small" shape="round" color="medium" [routerLink]="['/coordenador']">Voltar</ion-button>
    </div>
    <div id="centralizar">
      <ion-button (click)="saveMateria()" id="tamanho" size="small" shape="round" color="success" [routerLink]="['/coordenador']" >Cadastrar</ion-button>
    </div>
    
  </div>
</ion-content>