#centralizar{
    text-align: center; 
 }
 
 #tamanho{
    width: 150px;
 }

 #espacamento{
   padding: 10%;
 }

 ion-content{
   --background: url(../../../assets/img/10.jpg);
}
 
#bordas{
   border-style:outset;
   padding: 2%;
}