#botaoCentralizado{
  position:absolute; 
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

#centralizar{
  text-align: center; 
}

ion-content{
  --background: url(../../assets/img/9.jpg) no-repeat;

}

#espacamento{
  padding: 10%;
text-align: center;
}

#central {
  text-align: center;
}